# yamllint disable rule:line-length
name: Test for BuildEnv L1 container build

on:
  push:
    branches:
      - main
    paths:
      - 'build-container/**'

permissions:
  id-token: write
  attestations: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Build docker container
        id: build
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85 # v6.7.0
        with:
          context: "."
          file: "build-container/test-buildenv.dockerfile"
          tags: "test_l1:latest"

      - name: Generate SLSA Provenance
        id: slsa
        uses: actions/attest-build-provenance@6149ea5740be74af77f260b9db67e633f6b0a9a1 # v1.4.2
        with:
          subject-name: "test_l1"
          subject-digest: ${{ steps.build.outputs.digest }}
